services:
  aag-weather-reader:
    image: "${IMAGE_NAME:-gcr.io/panoptes-exp/panoptes-aag}:${TAG_NAME:-latest}"
    build:
      context: ../
      dockerfile: ./docker/Dockerfile
    init: true
    tty: true
    container_name: aag-weather-service
    privileged: true
    network_mode: host
    restart: on-failure
    command: [ "python /app/scripts/read-aag.py --config-file /data/config.yaml --storage-dir /data --store-result" ]
    volumes:
      - ./:/data
